[Unit]
Description=Wownero Full Node
After=network.target

[Service]
User=wownero
Group=wownero
Environment="MONERO_RANDOMX_UMASK=1"
StateDirectory=wownero
LogsDirectory=wownero
Type=simple
ExecStart=/usr/local/bin/wownerod --config-file /etc/wow.conf --non-interactive
WorkingDirectory=~
Restart=always
StandardOutput=null
StandardError=null
Restart=always

[Install]
WantedBy=multi-user.target
