[Unit]
Description=Wownero Full Node
After=network-online.target
Wants=network-online.target

[Service]
User=wownero
Group=wownero
Environment="MONERO_RANDOMX_UMASK=1"
StateDirectory=wownero
LogsDirectory=wownero
Type=simple
ExecStart=/usr/local/bin/wownerod --config-file /etc/wownerod.conf --non-interactive
Restart=always

[Install]
WantedBy=multi-user.target